@model IEnumerable<Commander.Models.Command>

@{
    ViewData["Title"] = "Commands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Commands</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HowTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Line)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HowTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Line)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Platform)
                </td>
            </tr>
        }
    </tbody>
</table>
